/* @import 'roboto.css'; */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid #666; outline-offset: -1px; */
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: 'Roboto-Light', sans-serif;

    background-color: #181818;
    color: #cecece;
}

/* tech */

.hide {
    display: none;
}

.active {
    background-color: #181818;
    color: #ffa090 !important;

    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgba(93, 231, 178, 0.18);
}

code {
    font-size: 1pc;

    padding-right: 4px;
    padding-left: 4px;

    color: #cecece;
    background-color: rgba(93, 231, 178, 0.18);

    border-radius: 2px;
}

/* nav */

.header-page {
    height: 60px;

    background-color: #111111;
}

.nav-page ul {
    display: flex;
    flex-direction: rows;

    width: 50%;
}

.nav-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    font-size: 24px;
    width: 100px;
    height: 60px;

    color: rgba(255, 161, 144, 0.7);
    cursor: pointer;

    overflow: hidden;
}

.nav-page ul li:hover,
.term-item:hover {
    background-color: #232323;
    color: #ffa090;
}

/* content */

.terms {
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;
    width: 24%;
    min-height: 635px;
    
    background-color: #181818;
}

.term-item {
    display: block;

    line-height: 1;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    height: 100%;

    color: rgba(255, 161, 144, 0.7);
    cursor: pointer;

    overflow: hidden;
}

.description-item {
    position: absolute;
    left: 100%;
    top: 0;

    line-height: 1.5;

    width: 800px;
    padding-top: 20px;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-left: 20%;

    color: #eeeeee;
}

.description-item p {
    margin-bottom: 10px;
}

.description-item li {
    margin-left: 20px;
    margin-bottom: 5px;

    list-style-type: disc;
}

.description-item a,
.description-item a:visited {
    color:rgb(255, 161, 144)
}