/* @import 'roboto.css'; */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* outline: 1px solid #666; outline-offset: -1px; */
}

body {
    font-family: 'Roboto-Light', sans-serif;
    
    background-color: #151515;
    color: #ff7000;
}

/* nav */

.footer-page{
    height: 60px;
    padding: 10px;
}

.nav-page ul {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;

    width: 50%;
}

.nav-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    font-size: 24px;
    width: 100px;
    height: 40px;
    
    overflow: hidden;
}

.nav-page ul li::before,
.content-item::before {
    content: '';
    display: block;

    position: absolute;
    top: 98%;

    width: 100%;
    height: 1px;
    background-color: #90ff00;
    /* background-coKlor: transparent; */
    
    transform: translateX(-100%);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
}

.nav-page ul li:hover::before,
.content-item:hover::before {
    transform: translateX(0px);
}

/* content */

.main-page {
    display: grid;
    grid-template-columns: 20% 80%;
    /* display: flex; */
    /* justify-content: start; */

    margin: 10px;
}

.css-expression {
}

.description {
    padding: 7px;
}

.content-item {
    position: relative;

    overflow: hidden;
}

.content-item a {
    display: block;
    
    padding: 7px;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: #ffa090;
}