/* @import 'roboto.css'; */

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid #666; outline-offset: -1px; */
}

body {
    font-family: 'Roboto-Light', sans-serif;

    background-color: #151515;
    color: #ff7000;
}

/* tech */

.hide {
    display: none;
}

.active {
    background-color: #151515;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #90ff00;
}

/* nav */

.footer-page {
    height: 60px;

    background-color: #111111;
}

.nav-page ul {
    display: flex;
    flex-direction: rows;

    width: 50%;
}

.nav-page ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    font-size: 24px;
    width: 100px;
    height: 60px;
    cursor: pointer;

    overflow: hidden;
}

.nav-page ul li:hover,
.content-item:hover {
    background-color: #222222;
}

.nav-page ul li::before,
.content-item::before {
    content: '';
    display: block;

    position: absolute;
    top: 98%;

    width: 100%;
    height: 1px;
    background-color: #90ff00;

    transform: translateX(-100%);
    transition: transform 0.1s;
    transition-timing-function: ease-out;
}

.nav-page ul li:hover::before,
.content-item:hover::before {
    transform: translateX(0px);
}

/* .nav-page ul li:active::before {
    transform: translateX(0px);
} */

/* content */

.main-page {
    display: grid;
    grid-template-columns: 20% 80%;
}

.expression {
    padding: 10px;

    background-color: #121212;
}

.content-item {
    display: block;
    position: relative;

    padding: 5px;
    width: 100%;
    height: 100%;

    color: #ffa090;
    cursor: pointer;

    overflow: hidden;
}

.description {
    padding: 7px;
}